#preview li {
    display: inline;
}
.table1{
    padding: 60px;
}
.list-group-item{
    backdrop-filter: blur(5px) saturate(100%) contrast(80%) brightness(100%);
    color: black;
    padding: 20px;
}
.list-group{
    padding: 2px;
}   
